##### Topics to be covered

- Creating variable 
- Data types - string
- changing data type
- indexing
- string length
- strip 
- split 
- concat
- Replace

In [99]:
# Creating variable
input1=15
input2=12.5
input3="Data Science in 100 Days"

In [7]:
type(input1)

int

In [9]:
type(input2)

float

In [10]:
type(input3)

str

In [14]:
#Changing string into numeric data type
input4="12.5"
type(input4)

str

In [23]:
#String containing float value can't directly convert into integer data type. So, we first covert it into float data type and then again covert it into integer. 
float(input4)
print(type(int(float(input4))))

<class 'int'>

In [33]:
# String are treating like array
input3[0:12]

'Data Science'

In [44]:
input3[-8:-1]

'100 Day'

In [37]:
len(input3)

24

In [50]:
#Strip - used to remove the extra spaces in the beginning and end. 

txt = "     Data Science    "
txt

'     Data Science    '

In [52]:
txt1=txt.strip()
txt1

'Data Science'

In [63]:
txt2=txt1.split()
txt2

['Data', 'Science']

In [62]:
#Split - used to split the text. 
txt2="1999-11-17"
txt3=txt2.split("-")
print(txt3)

['1999', '11', '17']

In [73]:
# Concatinating 

x="Data Science"
y="computer Science"
print(x)
print(y)
z=x+" "+ y
print(z)

Data Science
computer Science
Data Science computer Science

In [83]:
x="data"
y=12
a=str(y)
z=x+" "+a
print(z)

data 12

In [98]:
#Replacing text

txt="Learned data science from youtube. But start learning data science from coursera. data data data"
txt10=txt.replace("data", "Computer", 2)
print(txt10)

Learned Computer science from youtube. But start learning Computer science from coursera. data data data