# DIGITAL ASSIGNMENT - I
# MACHINE LEARNING (CSE4020)

# NAME    : KAMAL SUBEDI
# REG NO: 18BCE2479

In [3]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [44]:
#Loading the dataset
data = pd.read_csv("dataset.csv")
data

    S.N  Age    marital  bank_am        job  education    loan buy_car
0     1   50    married   453500     banker   tertiary   15650     yes
1     2   55    married    84000    service    primary    5000      no
2     3   53    married   654052  professor   tertiary   15000     yes
3     4   40    married   856545     doctor   tertiary   30000     yes
4     5   35    married   652352   engineer   tertiary   25000     yes
5     6   45  unmarried   985625      pilot   tertiary   45000     yes
6     7   49  unmarried   385456   business  secondary  189542      no
7     8   51    married   164428    service    primary    1500      no
8     9   48  unmarried   552224   engineer   tertiary    2100     yes
9    10   47    married   789775    gov_emp   tertiary   18900     yes
10   11   36    married    78965      admin  secondary    2300      no
11   12   15   umarried    45000    student  secondary    1500      no

In [45]:
data.dtypes

S.N           int64
Age           int64
marital      object
bank_am       int64
job          object
education    object
loan          int64
buy_car      object
dtype: object

In [46]:
#Determine the variables

df = data[['buy_car','loan','Age','marital']]

In [47]:
#Enconding Gender values to 0 and 1. 
df['marital']= df['marital'].apply(lambda marital:1 if marital=="married" else 0)

<ipython-input-47-0b4b0206233a>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['marital']= df['marital'].apply(lambda marital:1 if marital=="married" else 0)

In [54]:
#Handling Missing Values - Data Imputatation  #Median is robust to outlier
df["Age"] = df["Age"].fillna(df["Age"].median())

<ipython-input-54-c04a1c0e5d2e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Age"] = df["Age"].fillna(df["Age"].median())

In [55]:
#Set the predictor(X) and Response(Y) variable

X = df.drop("buy_car", axis =  1)
Y = df["buy_car"]

In [56]:
#Split the data into training and test sets
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.3, random_state = 25)

In [57]:
#The Logistric Regression model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
logit = LogisticRegression()
logit.fit(X_train,Y_train)
logit.get_params()

{'C': 1.0,
 'class_weight': None,
 'dual': False,
 'fit_intercept': True,
 'intercept_scaling': 1,
 'l1_ratio': None,
 'max_iter': 100,
 'multi_class': 'auto',
 'n_jobs': None,
 'penalty': 'l2',
 'random_state': None,
 'solver': 'lbfgs',
 'tol': 0.0001,
 'verbose': 0,
 'warm_start': False}

In [58]:
#Y predictions 
Y_pred = logit.predict(X_test)
Y_pred

array(['yes', 'yes', 'yes', 'yes'], dtype=object)

In [59]:
#Confusion Matrix
from sklearn.metrics import confusion_matrix 
confusion_matrix = confusion_matrix(Y_test, Y_pred)
confusion_matrix

array([[0, 1],
       [0, 3]], dtype=int64)

In [63]:
#Accuracy Score
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_pred)

0.75

In [64]:
from sklearn.metrics import classification_report
report = classification_report(Y_test,Y_pred)
print(report)

              precision    recall  f1-score   support

          no       0.00      0.00      0.00         1
         yes       0.75      1.00      0.86         3

    accuracy                           0.75         4
   macro avg       0.38      0.50      0.43         4
weighted avg       0.56      0.75      0.64         4

In [61]:
# Here i create a dataset of 11 attributes, which predict whether you should buy a car or not on the basis of bank amount, loan and job type.
# Here the predict variable is buy_car as it determine that whether you can buy a car or not.
# i got the 0.75 accuracy for above given dataset.

In [ ]:
#References: https://towardsdatascience.com/predicting-used-car-prices-with-machine-learning-techniques-8a9d8313952
# https://medium.com/thelaunchpad/how-to-build-develop-and-deploy-a-machine-learning-model-to-predict-cars-price-using-neural-7f7439a37300